/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
/.idea
public/uploads/media/*
public/uploads/thumbnail/*
!public/uploads/media/default.png
!public/uploads/thumbnail/default.png

/database/documents/*

/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/public/uploads/catalogs/


resources/*
!resources/views/components

/packages/*
/public/packages/
/public/afra/assets/
/public/afra/css/
/public/afra/js/
/public/afra/vendors/
